stages:
  - docker

variables:
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2

default:
  image: docker:25
  services:
    - docker:25-dind

before_script:
  - docker info
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin "$CI_REGISTRY"

# -------------------------------
# PYTHON SERVICE
# -------------------------------

docker_platform_api:
  stage: docker
  script:
    - docker build -t $CI_REGISTRY_IMAGE/platform-api:latest services/platform-api
    - docker build -t $CI_REGISTRY_IMAGE/platform-api:$CI_COMMIT_SHORT_SHA services/platform-api
    - docker push $CI_REGISTRY_IMAGE/platform-api:latest
    - docker push $CI_REGISTRY_IMAGE/platform-api:$CI_COMMIT_SHORT_SHA

# -------------------------------
# JAVA SERVICE
# -------------------------------

docker_java_service:
  stage: docker
  script:
    - docker build -t $CI_REGISTRY_IMAGE/java-service:latest services/java-service
    - docker build -t $CI_REGISTRY_IMAGE/java-service:$CI_COMMIT_SHORT_SHA services/java-service
    - docker push $CI_REGISTRY_IMAGE/java-service:latest
    - docker push $CI_REGISTRY_IMAGE/java-service:$CI_COMMIT_SHORT_SHA

# -------------------------------
# DOTNET SERVICE
# -------------------------------

docker_dotnet_service:
  stage: docker
  script:
    - docker build -t $CI_REGISTRY_IMAGE/dotnet-service:latest services/dotnet-service
    - docker build -t $CI_REGISTRY_IMAGE/dotnet-service:$CI_COMMIT_SHORT_SHA services/dotnet-service
    - docker push $CI_REGISTRY_IMAGE/dotnet-service:latest
    - docker push $CI_REGISTRY_IMAGE/dotnet-service:$CI_COMMIT_SHORT_SHA
