apiVersion: apps/v1
kind: Deployment
metadata:
  name: dotnet-service
  namespace: platform
spec:
  replicas: 2
  selector:
    matchLabels:
      app: dotnet-service
  template:
    metadata:
      labels:
        app: dotnet-service
    spec:
      imagePullSecrets:
        - name: gitlab-registry
      containers:
        - name: dotnet-service
          image: registry.gitlab.com/diva.amtr-group/ai-assisted-platform-reliability/dotnet-service:latest
          ports:
            - containerPort: 5000
          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10
