apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-service
  namespace: platform
spec:
  replicas: 2
  selector:
    matchLabels:
      app: java-service
  template:
    metadata:
      labels:
        app: java-service
    spec:
      imagePullSecrets:
        - name: gitlab-registry
      containers:
        - name: java-service
          image: registry.gitlab.com/diva.amtr-group/ai-assisted-platform-reliability/java-service:latest
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 15
